* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body,html {
  height: 100%;
  
}

.background_image {
  background-image: url('img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}