@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Montserrat', sans-serif;
  
}

body,html {
  height: 100%;
  
}

.background_image {
  background-image: url('img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.signup_box {
  background: white;
  height: 460px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 10px;
  background: rgba(10, 4, 99, 0.8);
}

a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.tab_container {
  height: 100%;
  display: flex;
  align-items: center;
}

.tab {
  height: 100%;
  display: flex;
  align-items: center;
  /* padding-left: 40px; */
  
}
.tab:hover {
   background: rgba(10, 4, 99, 0.596);
}

header h1 {
  color: #fff;
  font-size: 16px;
  padding: 10px;
  
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

section h1 {
  text-align: center;
  margin-top: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.input_container {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 20px 40px;
  margin-top: 5px;
}

label {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: silver;
  margin-bottom: 5px;
}

i {
  color: rgba(10, 4, 99, 0.8);
}

input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  transition: all .5s ease-in;
}

.icon_input_container {
  border:1px solid silver;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
}

.login_button {
  background: lavender;
  width: 302px;
  padding: 10px;
  text-align: center;
  margin-top: 13px;
  cursor: pointer;
  background: rgba(10, 4, 99, 0.8);
  color: #fff;
  border-radius: 3px;
}

.error_icon i {
  color: rgb(255, 38, 0);
  transition: all .5s ease-in;
  
}

.error_message {
  margin-bottom: 15px;
  font-size: 12px;
  color: rgb(255, 38, 0); 
}

.success_icon i {
  color: green;
  transition: all .5s ease-in;
  
}

.success_message {
  margin-bottom: 15px;
  font-size: 12px;
  color: green;
}

